* {
    
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
    font-family: 'Montserrat', 'Poppins', 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
li,
a,
button {
    font-family: "Montserrat", san-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffff;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-end;*/
    align-items: center;
    padding: 30px 10%;
    background-color: #030033;
    box-shadow: 0px 0px 20px 0;
}

.logo {
    color: #ffffff;
    /*margin-right: auto;*/
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    padding: 0px 20px;
}

.nav_links li a:hover {
    color: #0088a9;
}

.nav_links  li:hover{
    text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);
}

.nav_links li:nth-of-type(1):hover ~ .underbar {
    left: 20px;
    width: 60px;
    background: red;
}

.nav_links li:nth-of-type(2):hover ~ .underbar {
    left: 125px;
    width: 100px;
    background: blue;
}

.nav_links li:nth-of-type(3):hover ~ .underbar{
    left: 268px;
    width: 65px;
    background: pink;
  }

.nav_links li:nth-of-type(4):hover ~ .underbar{
    left: 375px;
    width: 100px;
    background: greenyellow;
}

.underbar{
    width: 0;
    height: 5px;
    top: 5px;
    background: rgba(100,100,200,0);
    position: relative;
    -webkit-transition: 0.5s ease;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.content1 {
    width: 320px;
    padding: 10px;
    border: 5px solid black;
    background-color: lightgreen;
}

.content2 {
    width: 320px;
    padding: 10px;
    border: 5px solid black;
    background-color: lightcoral;
}

.content3 {
    width: 320px;
    padding: 10px;
    border: 5px solid black;
    background-color: lightyellow;
}

.content4 {
    width: 320px;
    padding: 10px;
    border: 5px solid black;
    background-color: plum;
}