* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px
}

#widebanner {
    width: 100%;
    height: 400px;
}

#nav ul {
    list-style-type: none;

}

#nav li {
    float: left;
}

#nav li a {
    text-decoration: none;
    display: block;
    padding: 30px;
} 

#nav li a:hover {
    background-color:mediumpurple;
    color: white;
    
}

